* {
	box-sizing: border-box;

	font-weight: bold;
	font-size: 18px;
	font-family: "Fira code", sans-serif;
}

body {
	background-color: #241B2F;
	color: #72F1B8;

	margin: auto;
}

.catalog {
   --grid-layout-gap: 0px;
   --grid-column-count: 10;
   --grid-item--min-width: 120px;
   --gap-count: calc(var(--grid-column-count) - 1);
   --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
   --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
   grid-gap: var(--grid-layout-gap);

   border: 5px solid yellowgreen;
}

a {
	justify-self: center;
	color: inherit;
	text-decoration: inherit;

	width: var(--grid-item--min-width);
	height: calc(var(--grid-item--min-width) + 34px);
	padding: 20px 16px 4px;
}

a:hover {
	background: #333041;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}

.tile {
	min-width: 88px;
	min-height: 130px;
}

.frame {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 80px;
	min-height: 80px;

	background: #40394A;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.65);
	border-radius: 8px;
}

img {
	border-radius: 4px;
	width: 48px;
	height: 48px;
}

p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

.letter-fallback {
	border-radius: 4px;
	width: 48px;
	height: 48px;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 113, 57);
}

.letter-fallback::before {
	content: attr(data-fallback);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: 800;
	transform: rotate(-10deg);
	top: 6px;
	position: relative;
	color: #FFF;
}